In [10]:
import pandas as pd
df = pd.read_csv('C:\\Users\\\'Raakha ALAMUKII\\Documents\\obesity data.csv')
df.head(12)

    obesity  gender  age  weight   height  class
0         0  female   22      50        5      2
1         1    male   40     102        6      4
2         1    male   55      90        6      4
3         0    male   21      60        7      2
4         0  female   34      60        6      3
5         0  female   32      54        6      3
6         1  female   31      98        5      3
7         0    male   34      70        7      3
8         1    male   28      99        5      2
9         1  female   28     105        6      2
10        0    male   11      46        3      1
11        1    male   19      90        4      1

In [2]:
from sklearn.linear_model import LogisticRegression #obesity is 1 : no obesity is 0
model= LogisticRegression()
from sklearn.model_selection import train_test_split

In [15]:
df['gender'] == 'male'
df['male'] = df['gender'] == 'male'

In [16]:
x = df[['age','weight','male']]
y = df['obesity']

In [5]:
model.fit(x,y)
model.score(x,y)

1.0

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.3, random_state=1)

In [7]:
model.score(x_train,y_train)

1.0

In [9]:
import pickle
filename = 'models.pkl'
pickle.dump(model, open(filename, 'wb'))